<h1> Welcome to the information page for <%=@artist.name%></h1>
<p><%= @artist.bio %></p>

<%= image_tag @artist.photo.image %>

<ul><% @songs.each do |song| %>
  <li> <%= song.name %> duration: <%= song.duration %></li>
  <% end %>
</ul>
<%= link_to "Artist overview", root_path%>
