<h2> Welcome to the information page for <%=@artist.name%>
<%= link_to "Delete artist",artist_path(@artist) , method: :delete, data: { confirm: "Are you sure?, go on do it" }, class:"button"%></h2>
<div class="bigbox">
<div class="panelbox floatl">
<%= image_tag @artist.photo.image, class:"picture_scale" %>
<p><%= @artist.bio %></p>
</div>

<div class="panelbox floatl">
  <ul><% @songs.each do |song| %>
    <div>
    <li> <%= song.name %> duration: <%= song.time_in_minutes %>
      <%= link_to "Delete song",artist_song_path(@artist,song) , method: :delete, data: { confirm: "Are you sure?" }, class: "button"%></li>
    </div>
    <% end %>
  </ul>
</div>

<div class="panelbox floatl">
  <%= render "songs/form"%>
</div>
<%= link_to "Artist overview", root_path, class: "button button-red bottom"%>
</div>
