<h2 id="<%=@artist.id%>"> Welcome to the information page for <%=@artist.name%>
<%= link_to "Delete artist",artist_path(@artist) , class:"button", id:"delete_artist"%></h2>
<div class="bigbox">
<div class="panelbox floatl">
<%= image_tag @artist.photo.image, class:"picture_scale" %>
<p><%= @artist.bio %></p>
</div>

<div class="panelbox floatl">
  <ul id="song_list"><% @songs.each do |song| %>
    <div id=<%= song.id%> class = "song">
    <li> <%= song.name %> duration: <%= song.time_in_minutes %>
      <%= link_to "Delete song",artist_path(@artist) , class: "delete_song button", id:song.id%></li>
    </div>
    <% end %>
  </ul>
  <%= link_to "Remove all songs", artist_path(@artist),class:"button button-red", id:"delete_all_songs"%>
</div>

<div class="panelbox floatl">
  <%= render "songs/form"%>
</div>
<%= link_to "Artist overview", root_path, class: "button button-red bottom"%>
</div>
