<h1> Welcome to the information page for <%=@artist.name%></h1>
<p><%= @artist.bio %></p>

<%= image_tag @artist.photo.image %>

<ul><% @songs.each do |song| %>
  <li> <%= song.name %> duration: <%= song.time_in_minutes %>
    <%= link_to "Delete song",song_path(song) , method: :delete, data: { confirm: "Are you sure?" }%></li>
  <% end %>
</ul>
<%= render "songs/form"%>
<%= link_to "Artist overview", root_path%>
