<%= form_for @song do |s| %>
  <div class="form-group">
    <h3> Add a new song:</h3>
    <%= hidden_field_tag :artist_id, @artist.id %>

    <%= s.label :name%>

    <%= s.text_field :name, class: "form-control", autofocus: true,placeholder: 'Song name', autocomplete: "off"   %>
    <%= s.label :duration%>
    <%= s.number_field :duration,class: "form-control", autofocus: true,placeholder: 'Length of song'  %>
     <%= s.submit  "Add song"  %>
  </div>

<%end %>
