<%= form_for [@artist, @artist.songs.new] do |s| %>
  <div class="form" id="<%=@artist.id%>">
    <h3> Add a new song:</h3>
    <%= s.label :name%>

    <%= s.text_field :name, class: "form-control", autofocus: true,placeholder: 'Song name', autocomplete: "off"   %>
    <%= s.label :duration%>
    <%= s.number_field :duration,class: "form-control", autofocus: true,placeholder: 'Length of song'  %>
     <%= s.submit  "Add song", id:"submit_song" %>
  </div>

<%end %>
